.media-img {
    max-height: 500px;
    max-width: 500px;
    border-radius: 6px;
    margin-bottom: 0 10px 10px 10px;
    transition transform .2s;
}

.media-img-wrapper {
    max-width:500px;
    max-height:500px;
    text-align: center;
}

.price {
    color: green;
}

.original-price {
    text-decoration: line-through;
}

@media(max-width: 1023.98px) {
    .media {
        max-width:300px;
        flex-direction: column;
    }

    .media-img-wrapper {
        width: 100%;
        height: auto;
    }
}
